# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Android-specific
/android/.gradle/
/android/app/debug
/android/app/profile
/android/app/release

# Xcode-specific
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_assets/
ios/Flutter/App.framework
ios/Flutter/Flutter.podspec
ios/.dart_tool/
ios/DerivedData/

# Web-specific
web/.dart_tool/
web/.firebase/

# VSCode & JetBrains (IntelliJ, Android Studio)
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Firebase & Credentials
*credentials.json*
firebase_options.dart
*.firebase/.graphqlrc*
*.firebaserc*
firebase.json
filestore.rules
dataconnect/connector/connector.yaml

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

pubspec.lock

linux/flutter/
macos/Flutter/
windows/flutter/

*api_key.txt
.firebase/ (folder)
.firebase/.graphqlrc 
lib/firebase_option.dart
firebase.json
firestore.indexes.json
firestore.rules
.flutter-plugins
.flutter-plugins-dependencies
.metadata